{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
    <div class='container'>
        <h1 class>Sign Up</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type='submit' class='btn btn-promary'>
                Create an account
            </button>
        </form>
    </div>
{% endblock %}